body {
    margin: 0;
    background: linear-gradient(to bottom, #87CEEB, #800080);
    height: 100vh;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

#box {
    width: 450px;
    background-color: #7e7b7b;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-top: 20vh;
    display: block;
    color: #F8F7F3;
    align-items: center;
    border-radius: 15px;
    border: 3px solid #555;
    padding: 20px;
}

#loginBttn,
#cadastroBTN {
    border-radius: 10px;
    color: #F8F7F3;
    height: 30px;
    width: 150px;
    font-style: italic;
    font-weight: bold;
}

#loginBttn {
    border: 2px solid rgb(1, 95, 1);
    background-color: rgb(1, 160, 1);
}

#loginBttn:hover {
    cursor: pointer;
    background-color: rgb(0, 120, 0);
    border: 2px solid rgb(0, 90, 0);
}

#cadastroBTN {
    background-color: rgb(1, 200, 1);
    border: 2px solid rgb(2, 130, 1);
}

#cadastroBTN:hover {
    cursor: pointer;
    background-color: rgb(0, 100, 0);
    border: 2px solid rgb(0, 80, 0);
}

.label {
    font-weight: bold;
    text-align: center;
    opacity: 1;
    display: block;
    margin-bottom: 10px;
}

.titulo {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 20px;
}

.rockDanger {
    color: red;
    text-align: center;
    font-style: italic;
    margin-top: 10px;
}

input {
    border-radius: 10px;
    width: 300px;
    height: 30px;
    opacity: 1;
    border: 2px solid black;
    margin-bottom: 15px;
}